* {
  margin: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  padding: 0;
  background-color: #edecfb;
  color: #212129;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

main {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: calc(640px + 2rem);
}

section,
.introduction,
.accomplishments li {
  background-color: white;
  padding: 1rem;
  border: 1px solid #d3d3e0;
}

section,
.site-header,
.introduction,
#list_filter_input,
#the_list li,
.portrait,
.profile,
.accomplishments li {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
}

p {
  margin-bottom: 0.5em;
  text-align: justify;
}

a,
a:visited,
a:hover,
a:visited:hover {
  color: #5e9900;
  font-style: italic;
  text-decoration: none;
}


/* SITE HEADER *
 * =========== */

.site-header {
  width: 100%;
  text-align: center;
  color: white;
}

.site-header a,
.site-header a:visited,
.site-header a:hover,
.site-header a:visited:hover {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.site-header h1 {
  background: #5e9900;
  line-height: 4rem;
  font-weight: normal;
}

.site-header nav {
    background: #31313d;
    width: 100%;
    line-height: 2rem;
}

.site-header nav a {
    display: inline-block;
    padding: 0 2rem;
}

.site-header input, .site-header label {
    display: none;
}

@media screen and (max-width: 639px) {
  .site-header h1 {
    text-align: left;
    padding: 0 6.25%;
  }

  .site-header label {
    display: block;
    position: absolute;
    top: 0;
    padding-right: 6.25%;
    width: 100%;
    height: 4rem;
    text-align: right;
    line-height: 4rem;
    font-size: 200%;
  }

  .site-header input:not(:checked) + nav {
    max-height: 0;
    overflow: hidden;
  }

  .site-header nav a {
    display: block;
    line-height: 2.66667rem;
  }
}


/* INTRODUCTION *
 * ============ */

.introduction h1 {
  margin: 0;
  font-style: normal;
  color: #101014;
}

.introduction h2 {
  color: #555565;
  margin-bottom: 1rem;
}


/* THE LIST *
 * ======== */

#list_filter_input {
  width: 100%;
  font-size: 1.25em;
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  background-color: rgba(16, 16, 20, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

#the_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

#the_list li {
  padding: 0;
  width: 150px;
  line-height: 0;
}

#the_list li a,
#the_list li a:visited,
#the_list li a:hover,
#the_list li a:visited:hover {
  display:block;
  font-style: normal;
  color: white;
}

#the_list li a,
#the_list li a:hover {
  background-color: #5e9900;
}


#the_list li a:visited,
#the_list li a:visited:hover {
  background-color: #101014;
}


#the_list li h2 {
  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}


/* PROFILE *
 * ======= */

.profile h1 {
  margin-bottom: 0.5rem;
  text-align: right;
}

.references {
  margin: 1rem 0 0 0;
  font-size: small;
  text-transform: uppercase;
}

.references a {
  font-style: normal;
}

.references a:not(:last-child)::after {
  content: ' // ';
}


/* ACCOMPLISHMENTS *
 * =============== */

.accomplishments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.accomplishments li {
  width: calc((100% - 2rem) / 3);
  padding: 0;
}

@media screen and (max-width: 34em) {
  .accomplishments li {
    width: calc((100% - 1rem) / 2);
  }
}

@media screen and (max-width: 25em) {
  .accomplishments li {
    width: 100%;
  }
}

.accomplishments li h2 {
  background-color: #31313d;
  color: white;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1rem;
}

.accomplishments li p {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: center;
}


/* COLLABORATION PATHS *
 * =================== */

.erdos h2,
.bacon h2,
.sabbath h2 {
  text-align: center;
  margin: 0;
}

.collaboration-path {
  display: table;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.collaboration-path:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d3d3e0;
}

.collaboration-path li {
  display: table-row;
}

.collaboration-path li .collaborator,
.collaboration-path li .collaboration {
  display: table-cell;
  vertical-align: middle;
  padding: 0.5rem;
}

.collaboration-path li .collaborator {
  width: 20%;
}

.collaboration-path li .collaborator .role {
  color: #555565;
  font-style: italic;
  font-size: smaller;
}

.collaboration-path li .collaboration {
  width: 60%;
}

.collaboration-path li div span {
  display: block;
}

@media screen and (max-width: 34em) {
  .collaboration-path,
  .collaboration-path li,
  .collaboration-path li .collaborator,
  .collaboration-path li .collaboration {
    display: block;
    width: 100%;
  }

  .collaboration-path li .collaborator,
  .collaboration-path li .collaboration {
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .collaboration-path li .collaborator .role,
  .collaboration-path li:not(:last-child) .collaborator:last-child {
    display: none;
  }
}
