<header class="introduction">
  <a href="/">
    <h1>The Erdős-Bacon-Sabbath Project</h1>
  </a>
  <h2>An open-source celebration of creative academics &amp; academic creatives</h2>
  <p>The Erdős-Bacon-Sabbath number combines three measures of professional collaboration — <a href="https://en.wikipedia.org/wiki/Erdős_number">Erdős numbers</a>,
    the <a href="https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon">Six Degrees of Kevin Bacon</a>, and the Black
    Sabbath game — to produce a fun, if rather complicated, parlour game and internet scavenger hunt. If you can find someone
    who has published academically, been involved in a movie or TV show, and publicly performed a song, they may have an
    EBS number, which counts how many papers, movies, and songs it takes to connect them to mathematican
    <a href="https://en.wikipedia.org/wiki/Paul_Erd%C5%91s">Paul Erdős</a>, actor <a href="https://en.wikipedia.org/wiki/Kevin_Bacon">Kevin Bacon</a>,
    and rock band <a href="https://en.wikipedia.org/wiki/Black_Sabbath">Black Sabbath</a>, respectively.</p>
  <p>The EBS Project aims to record <a href="https://github.com/rchurchley/erdos-bacon-sabbath/issues?q=label%3Aestablished-ebs%20">everybody with a known Erdős-Bacon-Sabbath number</a>    and to highlight well-known people whose accomplishments connect three or more fields of research and creative expression.
    Have an idea of someone perfect for the site? Suggestions and contributions are welcome on our <a href="https://github.com/rchurchley/erdos-bacon-sabbath">GitHub page</a>!</p>
</header>
<main>
  <ul class="the-list">
    {{#each people}}{{> name_card}}{{/each}}
  </ul>
</main>
