<main>
  <header class="introduction">
    <a href="/">
      <h1>Erdős, Bacon, Sabbath</h1>
    </a>
    <h2>An open-source celebration of creative academics &amp; academic creatives</h2>
    <p>
      The Erdős-Bacon-Sabbath number combines three measures of professional collaboration to make a fun (if rather complicated)
      parlour game for the internet age. If you can find someone who has published academically, been involved in a movie
      or TV show, and publicly performed a song, they may have an EBS number. The question is, how many degrees of seperation
      seperate them from mathematican
      <a href="https://en.wikipedia.org/wiki/Paul_Erd%C5%91s">Paul Erdős</a>, actor <a href="https://en.wikipedia.org/wiki/Kevin_Bacon">Kevin Bacon</a>,
      and rock band <a href="https://en.wikipedia.org/wiki/Black_Sabbath">Black Sabbath</a>?</p>
    <p>This website is an open-source project that highlights well-known people whose accomplishments connect three or more
      fields of research and creative expression.</p>
  </header>

  <ul class="the-list">
    {{#each people}}{{> name_card}}{{/each}}
  </ul>
</main>
